* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

/* navbar section start */

nav {
  height: 70px;
  width: 100%;
  background-color: #a29bfe;
}

.logo {
  margin: 0 0 0 50px;
}
.navcontainer {
  display: flex;
  padding: 0 0 100px 0;
}
.list-items {
  display: flex;
  justify-content: space-between;
  margin: 22px 0 0 600px;
  font-size: 18px;
}
.list-items li a {
  margin: 10px 10px 0 10px;
  padding: 10px;
  color: white;
}
.list-items li a:hover {
  color: #22a6b3;
  background-color: #c7ecee;
  border-radius: 6px;
  transition: 0.7s;
}
/* navbar section end */

/* first section start */
span {
  color: #0984e3;
}
.top-banner {
  display: flex;
  padding: 50px 0 100px 50px;
}
.half-side {
  width: 50%;
}
.half-side img {
  width: 80%;
}

h1 {
  font-size: 40px;
  margin: 0 0 10px 0;
}
h3 {
  font-size: 20px;
}
p {
  font-size: 17px;
  margin: 0 0 15px 0;
}
.button {
  color: white;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  margin: 10px 0 0 0;
  padding: 10px 20px;
  border-radius: 15px;
}
.top-banner {
  background-image: url(images/frame59.jpg);
  background-repeat: no-repeat;
  background-position: right;
  height: 400px;
}
/* first section end */

/* About us section start */
.about-us {
  display: flex;
  padding: 5%;
  background-image: url(images/frame57.jpg);
  background-position: right;
  background-repeat: no-repeat;
}
.contact-us {
  margin-top: 30px;
}
/* About us section end */

/* Our menu section start */
.recipiesinfo {
  padding: 30px 0 0 0;
  text-align: center;
}
.options {
  display: flex;
  padding: 2%;
}
.three-item {
  width: 40%;
  margin: 0 3% 0 3%;
  padding: 20px 20px 20px 20px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 16px;
}
.three-item h2 {
  margin: 20px 0 15px 0;
}
/* Our menu section start */

/* Social media section start */
.social {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 120px 0 120px 100px;
  padding: 40px 40px 40px 40px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 16px;
}
/* Social media section start */
/* Footer section start */
footer {
  text-align: center;
  background-color: #a5b1c2;
  padding: 30px;
}
.foot1 {
  margin: 30px;
}

.foot2 {
  margin: 30px;
}
/* Footer section end */
